<h1 style="color: blue;">Tài khoản đã được tạo!</h1>
<a href="/users/login" class="btn btn-primary btn-lg" style="padding: 10px;background-color: blue;color:white;text-decoration: none;font-size: 120%;">Đăng nhập</a>